body
{
	width:800px;
	margin-left:auto;
	margin-right:auto;
	text-align: justify;
}
a.pom
{
	color: #ff6600;
}
a.pom:hover
{
	color:green;
}
.lista
{
	text-align:center;
}
h2
{
	color:#ff6600;
	text-align:center;
}
h3
{
	color:#ff6600;
	
}
.linia
{
	background-color: #ff6600;
	height:1px;
	width:500px;
	margin-bottom:30px;
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
}
